In [4]:
import os
import json
import pandas as pd

In [32]:
results_msol = None #todo
with open(os.path.join("results", "250131_1359", "classify_fol.json"), "r") as f:
    results_fol = pd.read_json(f)
with open(os.path.join("results", "250130_1000", "classify.json"), "r") as f:
    results_py = pd.read_json(f)

In [33]:
comp_df = results_fol.merge(results_py, on="chebi_id", suffixes=("_fol", "_py"))
comp_df

,chebi_id,charge_category_fol,n_amino_acid_residues_fol,functional_groups,proteinogenics_fol,time_fol,chebi_classes_fol,"2,5-diketopiperazines_fol",emericellamide_fol,charge_category_py,...,proteinogenics_locations,proteinogenics_locations_no_carboxy,carboxy_residue,amino_residue,chunks,longest_aa_chain,"2,5-diketopiperazines_py","2,5-diketopiperazines_atoms",emericellamide_py,emericellamide_atoms
0,15429,NEUTRAL,1,"{'amide_bond': [], 'amino_residue': [], 'carbo...",[],0.0083,[],NaN,NaN,NEUTRAL,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30236,NEUTRAL,1,"{'amide_bond': [], 'amino_residue': [], 'carbo...",[],0.0014,[],NaN,NaN,NEUTRAL,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15571,NEUTRAL,1,"{'amide_bond': [], 'amino_residue': [], 'carbo...",[],0.0020,[],NaN,NaN,NEUTRAL,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16830,NEUTRAL,1,"{'amide_bond': [], 'amino_residue': [[0]], 'ca...",[],0.0018,[],NaN,NaN,NEUTRAL,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17790,NEUTRAL,1,"{'amide_bond': [], 'amino_residue': [], 'carbo...",[],0.0015,[],NaN,NaN,NEUTRAL,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37995,52723,SALT,1,"{'amide_bond': [], 'amino_residue': [], 'carbo...",[],0.0451,[24866],NaN,NaN,SALT,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37996,139515,NEUTRAL,1,"{'amide_bond': [], 'amino_residue': [], 'carbo...",[],0.0303,[],NaN,NaN,NEUTRAL,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37997,11901,ANION,1,"{'amide_bond': [], 'amino_residue': [], 'carbo...",[],0.0160,[25696],NaN,NaN,ANION,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37998,2448,NEUTRAL,1,"{'amide_bond': [], 'amino_residue': [], 'carbo...",[],0.0259,[],NaN,NaN,NEUTRAL,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37999,83579,NEUTRAL,1,"{'amide_bond': [[9, 10, 8], [15, 14, 13]], 'am...",[],0.0993,[],NaN,NaN,NEUTRAL,...,[],[],"[[9, 10, 8], [15, 14, 13], [48, 53, 47]]","[8, 13, 37, 46]","[[0, 2, 3, 4, 31], [9, 11, 12], [6, 7], [15, 1...",[],NaN,NaN,NaN,NaN

In [34]:
comp_df[comp_df["charge_category_fol"] != comp_df["charge_category_py"]]

Empty DataFrame
Columns: [chebi_id, charge_category_fol, n_amino_acid_residues_fol, functional_groups, proteinogenics_fol, time_fol, chebi_classes_fol, 2,5-diketopiperazines_fol, emericellamide_fol, charge_category_py, n_amino_acid_residues_py, proteinogenics_py, time_py, chebi_classes_py, amide_bond, proteinogenics_locations, proteinogenics_locations_no_carboxy, carboxy_residue, amino_residue, chunks, longest_aa_chain, 2,5-diketopiperazines_py, 2,5-diketopiperazines_atoms, emericellamide_py, emericellamide_atoms]
Index: []

[0 rows x 25 columns]

In [35]:
comp_df[((comp_df["n_amino_acid_residues_fol"] >= 2) | (comp_df["n_amino_acid_residues_py"] >= 2)) & (comp_df["n_amino_acid_residues_fol"] != comp_df["n_amino_acid_residues_py"])]

Empty DataFrame
Columns: [chebi_id, charge_category_fol, n_amino_acid_residues_fol, functional_groups, proteinogenics_fol, time_fol, chebi_classes_fol, 2,5-diketopiperazines_fol, emericellamide_fol, charge_category_py, n_amino_acid_residues_py, proteinogenics_py, time_py, chebi_classes_py, amide_bond, proteinogenics_locations, proteinogenics_locations_no_carboxy, carboxy_residue, amino_residue, chunks, longest_aa_chain, 2,5-diketopiperazines_py, 2,5-diketopiperazines_atoms, emericellamide_py, emericellamide_atoms]
Index: []

[0 rows x 25 columns]

In [38]:
comp_df[(comp_df["n_amino_acid_residues_fol"] > 1) & pd.Series([any([aa not in row["proteinogenics_fol"] for aa in row["proteinogenics_py"]]) or any(aa not in row["proteinogenics_py"] for aa in row["proteinogenics_fol"]) for _, row in comp_df.iterrows()])][["chebi_id", "proteinogenics_fol", "proteinogenics_py"]]

       chebi_id proteinogenics_fol proteinogenics_py
11351     73845                [G]            [E, G]
11687     83067                [G]            [E, G]
12712     49260                 []               [E]
14739     50619                [A]            [A, E]
15711     16834                 []               [E]
...         ...                ...               ...
37842     58661                [G]      [E, E, G, G]
37854     71259                [G]      [E, G, E, G]
37866    132200                [G]            [E, G]
37916      2505                [G]            [E, G]
37918    133441                [G]            [G, E]

[159 rows x 3 columns]

In [13]:
comp_df[["time_fol", "time_py"]].describe()

           time_fol       time_py
count  76000.000000  76000.000000
mean       0.041726      0.000202
std        0.035455      0.000398
min        0.009700      0.000000
25%        0.024700      0.000100
50%        0.032200      0.000200
75%        0.042800      0.000200
max        0.463900      0.070300